body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fafbfb
}

.topLogo {
    grid-area: topLogo;
}

.menuBar {
    grid-area: menuBar;
}

.mainLogo {
    grid-area: mainLogo;
}

.aditional {
    grid-area: aditional;
}

.exploreHead {
    grid-area: eH;

}

.explore {
    background-color: #f8f9fb;
}

.exploreHead h2 {
    margin: 10px 0 40px 0px;
    font-weight: 900;
    color: #606f81;
    font-size: 36px;
}

.exploreLeft {
    grid-area: eL;
    padding: 40px;
}

.exploreLeft h3 {
    color: #ffc74a;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 0 10px 0;
}

.exploreCard {
    box-shadow: 20 20 40px #ffc74a;
}

.footer {
    margin-top: 30px;
    align-items: center;
    width: 100%;
    background-image: url('img/footer.jpg');
    background-size: cover;
    height: 50vh;
}

.footer div {

    display: flex;
    justify-content: center;
}

.firstFooterHead {
    padding-top: 15vh;
    padding-bottom: 20px;
}

.footer h2 {
    font-weight: 900;
    font-size: 62px;
    color: #fcfcfd;
}

.footer p {
    font-weight: 900;
    font-size: 14px;
    color: #fcfcfd;
}

.footer p > span {
    font-weight: 900;
    font-size: 14px;
    color: #ffc74a;
    text-decoration: underline;
}

.thirdHead{
    padding-top: 20px;
}

.exploreRight {
    grid-area: eR;
    padding: 20px;
}

.place-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    grid-column-gap: 50px;
    grid-row-gap: 60px;
    justify-content: center;
    margin-bottom: 30px;
}

.searchIcon{
    color: #ffc74a;
}

.searchHead{
    text-align: center;
    padding: 40px;
    font-weight: 900;
    font-size: 48px;

}

input[type=text] {
    width: 100%;
    font-size: 16px;
    background: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 40px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 40px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

ul.hr {
    margin: 0;
    /* Обнуляем значение отступов */
    padding: 30px 30px 0 0;
    /* Значение полей */
}

ul.hr li {
    display: inline;
    /* Отображать как строчный элемент */
    margin-right: 25px;
    /* Отступ слева */
    padding: 3px;
    /* Поля вокруг текста */
    font-weight: 500;
}

.stheading {
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

.stheading span {
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    color: #ed6950;
}

.subheading {
    text-align: center;
    color: #5c5d5d;
    font-weight: 900;
    padding-top: 25px;
}

.mainButton {
    background-color: #ffc74a;
    border-color: transparent;
    /* Green */
    border-radius: 15px;
    color: #b98000;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cardButton {
    background-color: #ffc74a;
    border-color: transparent;
    /* Green */
    border-radius: 15px;
    color: #fcfcfd;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cardButtonGrey {
    background-color: #bdc8d9;
    border-color: transparent;
    /* Green */
    border-radius: 15px;
    color: #fcfcfd;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.spanButtonTrans {
    background-color: transparent;
    border: 2px solid #bdc8d9;
    border-radius: 15px;
    color: #bdc8d9;
    font-weight: 500;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.spanButton {
    background-color: transparent;
    border-color: transparent;
    /* Green */
    border-radius: 15px;
    color: #ffffff;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.spans {
    display: flex;
    justify-content: space-between;
}



.aditional {
    text-align: center;
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    align-self: flex-end
}

.search {
    display: grid;
    grid-template-columns: minmax(300px, 0.8fr);
    margin: 50px;
    justify-content: center;
    color: #555;
}


.head-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 80px 5fr 1fr 1fr;
    grid-template-areas:
        "topLogo menuBar menuBar"
        "mainLogo mainLogo mainLogo"
        "aditional aditional aditional";

    width: 100%;
    height: 100%;
    position: absolute;
    color: #fcfcfd;


}

.img1 {
    background-image: url('img/category_1.jpg');
    background-size: cover;
    text-align: center;
    color: #fcfcfd;
}


.zakopane {
    background-image: url('img/category_2.jpg');
    background-size: cover;
}

.sandomirz {
    background-image: url('img/category_3.jpg');
    background-size: cover;
}

.sopot {
    background-image: url('img/category_4.jpg');
    background-size: cover;
}

.img2 {
    background-image: url('img/category_5.jpg');
    background-size: cover;
}


.container {
    position: relative;
}

.darkened {
    background: url('img/header.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.darkened::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}


.content {
    position: relative;
    top: -70px;
}

.places {
    position: relative;
}

.explore {
    position: relative;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    background-color: #fcfcfd;
    position: relative;
    height: 400px;
}

.card h4 {
    color: #fcfcfd;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    position: relative;
}

.card p {
    color: #ffc74a;
    font-size: 14;
    padding-top: 10px;
    text-align: center;
}

.cardText {
    align-self: flex-end;
    margin: 0 auto;
    padding-bottom: 20px;
}

.exploreCard img {
    width: 75%;
    height: auto;
    -webkit-box-shadow: 35px 24px 0px 2px rgba(255, 198, 74, 1);
    -moz-box-shadow: 35px 24px 0px 2px rgba(255, 198, 74, 1);
    box-shadow: 35px 24px 0px 2px rgba(255, 198, 74, 1);
}

.place-card {
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    height: 270px;

}

.textBlock {
    display: flex;
    justify-content: center;
    padding-top: 10px;

}

.textBlock h4 {
    font-size: 36px;
    font-weight: 900;
    color: #606f81;
}

.textBlock p {
    font-size: 16px;
    font-weight: 500;
    color: #606f81;
    padding-bottom: 10px;
}

.buttonBlock {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding-bottom: 20px;
}

.grid {
    display: grid;
    margin: 0 auto;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
}


.grid div {
    align-content: center;
}

.place-grid div {
    align-content: center;
}

.head div:nth-child(1) {
    left: 0px;
}

.head div:nth-child(2) {

    right: 0px;
}

.head div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1fr;
}


/* .grid div:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 5;

} */

.explore {
    padding-top: 40px;
}

.explore-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    justify-content: center;
    justify-items: center;
    grid-template-areas:
        ". eH eH eH eH eH eH eH eH eH eH ."
        ". eL eL eL eL eL eR eR eR eR eR .";
}

.headLogoName {
    float: left;
    position: relative;
    font-weight: 900;
    vertical-align: middle;
    font-size: 2em;
    height: 30px;
    width: 100px;
    margin-left: 0;
    padding: 0.7em 0 0 1em;
}

.logo {
    float: left;
    padding: 10px 0 0 10px;
}

.logo>img {
    width: 100%
}

.rights{
    height: 30vh;
}

.logoRights{
    padding-top: 50px;
    display: flex;
    justify-content: center;  
}

.textRights{
    padding-top: 20px;
    font-size: 24px;
    color: #606f81;
    font-weight: 700;
    text-align: center;
}





@media screen and (max-width: 700px) {

    .footer h2 {
        font-size: 48px;
    }

    .head-content {
        grid-template-areas:
            "topLogo topLogo topLogo"
            "menuBar menuBar menuBar"
            "mainLogo mainLogo mainLogo"
            "aditional aditional aditional";
    }

    .explore-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 30px;
        justify-content: center;
        justify-items: center;
        grid-template-areas:
            ". eH eH eH eH eH eH eH eH eH eH ."
            ". eL eL eL eL eL eL eL eL eL eL ."
            ". eR eR eR eR eR eR eR eR eR eR .";
    }



    .content {
        top: -10px;
    }
}