.topLogo {
    grid-area: topLogo;
}

.menuBar {
    grid-area: menuBar;
}

.mainLogo {
    grid-area: mainLogo;
}

.aditional {
    grid-area: aditional;
}

.head {
    position: relative;
    background-image: url(img/Photo.png);
    background-size: cover;
    height: 90vh;
}

.place-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    justify-content: center;
}

input[type=text] {
    width: 100%;
    font-size: 16px;
    background: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 40px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 40px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.search{
    display: grid;
    grid-template-columns: minmax(300px, 0.5fr);
    margin: 50px;
    justify-content: center;
}

.head-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    grid-template-rows: 60px 1fr 80px 30px;
    grid-template-areas:
        "topLogo menuBar menuBar" 
        "mainLogo mainLogo mainLogo" 
        "aditional aditional aditional";
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80) black;
    -khtml-opacity: 0.8;
    background-color: #000;
    position: absolute;
    height: 90vh;
    width: 100%;
    color: white;
}

body {
    margin: 0;
}

.content{
    position: relative;
    top: -70px;
}

.places{
    position: relative;
}

.card{
    border-radius: 1px;   
    background-color: white; 
    height: 250px;
}

.place-card{
    border-radius: 1px;   
    background-color: white; 
    height: 250px;
}

.grid {
    display: grid;
    margin: 0 auto;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    justify-content: center;
}


.grid div {
    align-content: center;
    border: 1px solid rgba(153, 153, 153, 0.637);
}

.place-grid div {
    align-content: center;
    border: 1px solid rgba(153, 153, 153, 0.637);
}

.head div:nth-child(1) {

    right: 0px;
}

.head div:nth-child(2) {

    right: 0px;
}

.head div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1fr;
}

.head div:nth-child(4) {
    margin: 0 auto;
}

/* .grid div:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 5;

} */